
body{
  box-sizing: border-box;
text-align: center;


}
body{
  font-family: cursive;
}

header{
  background: #35424a;

}

.name {
  font-size: 3em;
  color:#18ba60;
  padding: 1em;
}

.navigation  {
  list-style: none;
  margin: 0,auto;
}
 .navigation ul

 {

  list-style: none;

}
ul :hover{
     background: #ffffff;
border: 2px solid #18ba60;
}


.navigation li{
display: inline-block;
margin: 1em;
}
.navigation a{
font-weight: bold;
text-transform: uppercase;
text-decoration: none;
padding: 0.5em;
color: #18ba60;

}
.int{
background: #35424a;
}
.about{
padding: 5em 0;
overflow: auto;

}

.about h4{
color: #18ba60;
}
.content{


  width: 90%;
  margin: 0 auto;
}
.col{
float: left;
overflow: hidden;

}
.cols
{
width: 70%;
float: right;
text-align: left;
overflow: hidden;
margin: 2em;
}
.soc{
list-style: none;
}
.my{


}
footer{
  background: #000000;
  color: #FFFFFF;
  padding: 1em;
}
